<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Spotify App Automation Suite">

    <test name="Verify the application launches successfully.">
        <classes>
            <class name="tests.AppTests">
                <methods>
                    <include name="verifyUserIsAbleToLaunchApplication"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Ensure all elements on the login screen are displayed correctly.">
        <classes>
            <class name="tests.AppTests">
                <methods>
                    <include name="validateLoginScreenElements"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Confirm the error popup appears for an invalid mobile number.">
        <classes>
            <class name="tests.AppTests">
                <methods>
                    <include name="verifyErrorPopupForMobileNumberLessThanTenDigits"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Test login with multiple users (valid and invalid) using data-driven testing.">
        <classes>
            <class name="tests.AppTests">
                <methods>
                    <include name="verifyEmailLoginScenarioWithDataDrivenTesting"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Verify the app restricts login with incorrect email credentials.">
        <classes>
            <class name="tests.AppTests">
                <methods>
                    <include name="verifyUserIsNotAbleToLoginWithInvalidEmailCredentials"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
