<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Spotify App Automation Suite">

    <test name="Verify App Launch">
        <classes>
            <class name="tests.AppTests">
                <methods>
                    <include name="verifyUserIsAbleToLaunchApplication"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Validate Login Screen Elements">
        <classes>
            <class name="tests.AppTests">
                <methods>
                    <include name="validateLoginScreenElements"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Verify Error Popup for Invalid Mobile Number">
        <classes>
            <class name="tests.AppTests">
                <methods>
                    <include name="verifyErrorPopupForMobileNumberLessThanTenDigits"/>
                </methods>
            </class>
        </classes>
    </test>

    <!-- Fixed Test Name -->
    <test name="Verify Email Login with Data-Driven Testing">
        <classes>
            <class name="tests.AppTests">
                <methods>
                    <include name="verifyEmailLoginScenarioWithDataDrivenTesting"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
